@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Lato:300,400,700);

/* Resets --------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*---------------------------------------------------------*/


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


a, visited {
    color: #9E9E9E;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover {
    color: #8F8DC3;
}
html {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font: 400 16px 'Lato', sans-serif;
    color: #9E9E9E;
    display: block;
    width: auto;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

h1 {
    font-family: 'Poiret One', serif;
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 20px;
}
.text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    a {
      color: #fff;
      font-size: 1em;
      text-decoration: underline;
      font-family: 'Lato', sans-serif;
      cursor: pointer;
    }
}

.popup {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    transform: scale(0);
    transition: transform 0.25s;

    &:before {
        content: "x";
        display: block;
        text-align: right;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        padding: 2px 7px;
    }
    &.show {
      transform: scale(1);
    }

    & span {
      font-size: 1.2em;
      display: block;
      margin: 2.5em auto 2em auto;
    }

    & a {
      display: block;
      font-size: 0.8em;
      color: purple;
    }
}


#popup_1 {
  top: 5em;
  left: 20%;
}

#popup_2 {
  top: 8em;
  left: 45%;
}

#popup_3 {
  top: 10em;
  left: 30%;
}

#popup_4 {
  top: 6em;
  left: 40%;

    & strong {
      margin: 0 auto;
      font-size: 1.4em;
      font-weight: 700;
      color: #4c8a3d;
    }
}
