@charset "utf-8";
@import 'variables';

/* Resets --------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*---------------------------------------------------------*/
a, visited {
    color: $textColor;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
        color: $hoverColor;
    }
}
html {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: $font-body;
    color: $textColor;
    display: block;
    width: auto;
    height: 100%;
    line-height: 1.5;
    background: linear-gradient(45deg, #235775, #0D1B1E, #000, #23715c);
    background-size: 400% 750%;
    animation: gradient 15s ease infinite;
}

h2 {
    font-size: 2em;
    font-family: $font-header;
    font-weight: 700;
    color: $themeColor;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3em;
    font-family: $font-header;
    font-weight: 700;
    color: $accentColor;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    margin: 1em 0;
}

strong {
    color: $decorColor;
    font-weight: 700;
}

.btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 1em;
    background-color: $accentColor;
    margin-top: 1em;
    font-family: $font-header;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.3s;
    letter-spacing: 1px;

    &:hover {
        color: #000;
        background-color: $hoverColor;
    }
}

.header {
    position: relative;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: translate(-50%,-50%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg) scale(1.5);
  }
}

.gradient {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    --size: 600px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: 500px;
    height: 500px;
    max-width: 90%;
    filter: blur(calc(var(--size) / 5));
    background: linear-gradient(rgba($hoverColor, 100%), $themeColor);
    animation: rotate 10s ease alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

#topHeader {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 2em auto;
    max-width: 90%;
    width: 700px;
    text-align: center;

    .logo {
        width: 200px;
        max-width: 90%;
    }

    .titles {
        margin: 1em auto;
        color: #fff;
        font-size: 1.9em;
        font-family: $font-header;
        text-shadow: 0 2px 4px rgba(#000,0.8);
        span {
            color: $decorColor;
            font-weight: 700;
        }
    }
}

#videoClip {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    width: 1100px;
    margin: 0 auto;

    foreignObject {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: rgba(#000,0.35);
        }
    }

    .video {
        max-width: 120%;
        width: 900px;
        margin: auto;
    }
}

#about {
    position: relative;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    align-items: flex-start;
    gap: 40px;

    .img {
        position: relative;
        flex: 0 0 150px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 1em;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

#projects {
    position: relative;
    max-width: $contentWidth;
    margin: 0 auto;
    padding: 2em;

    h2 {
        border-bottom: 1px solid $themeColor;
    }

    .project {
        display: flex;
        gap: 2em;
        margin: 2em auto;
        align-items: center;

        &:nth-child(even) {
            .projectPreview {
                order: 2;
            }
            .projectDetail {
                order: 1;
            }
        }
    }

    .projectPreview {
        flex: 0 0 45%;
        position: relative;

        img {
            width: 100%;
        }
    }

    .projectDetail {
        flex-grow: 1;
    }
}

.footer {
    padding: 2em 0;

    .socials {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        gap: 1em;

        .icon {
            display: block;
        }
    }

    .github, .linkedin {
        width: 50px;
        height: 50px;
        transition: all 0.4s;

        path {
            fill: $decorColor;
            transition: all 0.4s;
        }

        &:hover {
            path {
                fill: $hoverColor;
            }
        }
    }

    .copyright {
        font-size: 0.8em;
        text-align: center;
    }
}


@media screen and (max-width: 767px) {

    body {
        background-size: 200% 1000%;
    }

    .header {
        min-height: 60vh;
    }

    #videoClip {
        width: 800px;
    }

    .gradient {
        top: 30%;
        --size: 300px;
        width: 300px;
    }

    #about {
        flex-direction: column;
        gap: 10px;

        .img {
            flex: 0 0 100%;
        }
    }

    #projects {
        .project {
            display: block;
        }
    }
}


